||
**Test Report:**

Team Stallions Assignment 2


|<p>**Test Case #: 1**</p><p></p><p>**System: Stallions News – Web App** </p><p></p><p>**Designed by: Erica Butts, Christopher**</p><p></p><p>**Executed by: Pooja Balaji, Preyasha Patel**</p>|<p>**Test Case Name: Integration Testing** </p><p></p><p>**Subsystem:** </p><p></p><p>**Design Date: 2/10/22**</p><p></p><p>**Execution Date: 2/18/22**</p><p></p><p></p>|
| :- | :- |
||

|<p>**Description:**</p><p>**Integration Testing: Conduct Testing to verify the Application is working without any defects.**</p><p>**We have followed the Top-down approach where we test several modules together and make sure the Test Cases are passing** </p>|
| :- | :- |
||

|<p>**Pre-conditions:** </p><p>**Evaluate all happy/sad paths a user may encounter when traversing the GUI interface of the sign in/register/logout webpage** </p><p></p><p></p><p></p>|
| :- |
||



|**Step**|**Action**|**Expected Response**|**Pass/Fail**|**Comments**|
| :- | :- | :- | :- | :- |
|**1**|**Testing connection to main page to go into login page**|**Unauthenticated user should be able to access login page and receive status code 200**|**Pass**||
|**2**|**Testing connection from login page to correct dashboard authenticated session**|**Unauthenticated user should be able to login with correct credentials and be able to access dashboard with an authenticated session**|**Pass**||
|**3**|**Testing connection from Signup page to login page to login user**|**Unauthenticated user should be able to sign up with their credentials and be directed to login page**|**Pass**||
|**4**|**Testing connection from Logged in user main page to settings to dashboard with correct settings saved**|**Authenticated user should be able to access their settings page and make preference changes**|**Pass**||
|**5**|**Testing connection from dashboard to sign out function to dashboard with no authenticated session.**|**User in authenticated session should be able to log out and be directed a unauthenticated dashboard to login or signup.**|**Pass**||

` `**Test Team The following people will be on the system integration test team:**

|**Name** |**Level of involvement**|**Responsibilities** |
| :- | :- | :- |
|**Christopher** |**35 hrs/wk**|**Design the Test Report, including the test planning, test status report**|
|**Erica**|**35 hrs/wk**|**Design and execute the Test Cases** |
|**Pooja** |**40 hrs/wk**|**Design Test cases for the Front-end subsystem, working on writing the Unit test cases for the components, writing test summary for front-end**|
|**Preyasha**|**40 hrs/wk**|**Design Test cases for the Back-end subsystem, working on the test cases, test data and writing test summary for backend.**|


|<p>**Post-conditions:**</p><p></p><p>**Project Name: Stallion News**</p><p>**Test Type: Integration Testing** </p><p>**Pass: 5**</p><p>**Fail: 10**</p><p>**Not Executed: 0**</p><p>**Total: 15**</p><p></p>|
| :- |
||

